#register{
    width: 260px;
    margin-left: 500px;
}
#register label{
    float:left;
    padding-bottom: 2px;
}
#register input{
    float:right;
}
#login{
    width: 150px;
    margin-left: 500px;
}