/* 
    Document   : style.css
    Created on : 2012.8.8, 10:06:26
    Author     : graetz
    Description:
        Purpose of the stylesheet follows.
*/
#login{
    width: 150px;
    padding-left: 500px;
}
#login label{

}
#login input{

}
